.bubble {
	--r: 25px; /* the radius */
	--t: 30px; /* the size of the tail */
	
	max-width: 300px;
	padding: calc(2*var(--r)/3);
	mask: 
	  radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
		var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
	  conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
		calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
	  radial-gradient(50% 50%,#000 98%,#0000 101%) 
		0 0/var(--r) var(--r) space padding-box;
	background: linear-gradient(135deg,#FE6D00,#1384C5) border-box;
	color: #fff;
  }
  .left {
	--_d: 0%;
	border-left: var(--t) solid #0000;
	margin-right: var(--t);
	place-self: start;
  }
  .right {
	--_d: 100%;
	border-right: var(--t) solid #0000;
	margin-left: var(--t);
	place-self: end;
  padding: 10px;
  }
  
  body {
  background: dodgerblue linear-gradient(22deg, aqua, dodgerblue, rgb(255, 20, 32)) fixed;	
	font: normal 30px/1.6 system-ui, sans-serif; 
  color: white; 
  }

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #a17345;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
  
  h1 {
	  font-weight: normal;    
  }
  
  a {
	color: inherit;
  }
  
  a:focus,
  a:hover {
	text-decoration-color: black;
  }
  
  input {
	font: inherit;
	padding: 0.2em 0.5em;
  padding-bottom: 1em;
  }

  .container {  
    position: relative;    
  }

  .guessgame {
    position: fixed;
    top: 0;    
    width: 45%;
    height: 45%;
    text-align: center;
  }

  .date {    
    position: fixed;
    bottom: 0;    
    width: 45%;
    height: 45%;        
  }

  .tshirtForm {  
    position: relative;      
    float: right;  
    background-color: #16161600;     
    left: 0;    
    width: 45%;
    height: 45%;        
  }

  .formInput{
    height: 4px;      
  }

.tshirtAusgabe{
  border: 1px solid red;
  width: 180px;
  height: 300px;
  position: absolute;
  top: 200px;
  left: 120px;
}



